@(message: String)(implicit request : RequestHeader)

@main(message) {
  <div id="tweets"></div>
  <script type="text/javascript">
  	  var url = "@routes.Application.tweets().webSocketURL()";
	  var tweetSocket = new WebSocket(url);
	  tweetSocket.onmessage = function(event) {
	    console.log(event);
		var data = JSON.parse(event.data);
		var tweet = document.createElement("p");
		var text = document.createTextNode(data.text);
		tweet.appendChild(text);
		document.getElementById("tweets").appendChild(tweet);
     };

	 tweetSocket.onopen = function(event) {
	   tweetSocket.send("subscribe");
	 }
  </script>
}
